<% include ../partials/header %>
<h1><%= campground.name %></h1>

<img src="<%= campground.image %>">
<p><%= campground.description %></p>
<p><%= campground.comments %></p>
<% include ../partials/footer %>